<html>
<head>
    <meta>
    <title>
        Student Information
    </title>
</head>



<body>
{% if students %}
<table>
    <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Test score</th>
    </thead>
    {% for student in student_list %}
    <tr>
        <td>{{student.id}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.testScore}}</td>
        <td><a href="/delete/{{student.id}}">Delete</a></td>
        <td><a href="/update/{{student.id}}">Update</a></td>

    </tr>
    {% endfor %}
</table>
{% else %}
<p>No data found</p>
{% endif %}
</body>
</html>